<table style="table-layout: auto; width: 100%;">
    <tr>
        <th>Source-target speaker</th>
        <th>Input audio</th>
        <th>Ground truth target</th>
        <th>AutoVC output</th>
        <th>StarGAN-ZSVC output</th>
    </tr>

    <tr>
        <td><p style="font-family: monospace;"> VCC2SF2-VCC2SM1 (10001.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10001-VCC2SF2-VCC2SM1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10001-VCC2SF2-VCC2SM1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10001-VCC2SF2-VCC2SM1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/seen-to-seen/10001-VCC2SF2-VCC2SM1-output.wav" /></td>
    </tr>
    <tr>
        <td><p style="font-family: monospace;"> VCC2SM2-VCC2SF1 (10020.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10020-VCC2SM2-VCC2SF1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10020-VCC2SM2-VCC2SF1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10020-VCC2SM2-VCC2SF1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/seen-to-seen/10001-VCC2SF2-VCC2SM1-output.wav" /></td>
    </tr>
    <tr>
        <td><p style="font-family: monospace;"> VCC2SM2-VCC2SM1 (10062.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10062-VCC2SM2-VCC2SM1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10062-VCC2SM2-VCC2SM1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-seen/10062-VCC2SM2-VCC2SM1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/seen-to-seen/10001-VCC2SF2-VCC2SM1-output.wav" /></td>
    </tr>

</table>


