<table style="table-layout: auto; width: 100%;">
    <tr>
        <th>Source-target speaker</th>
        <th>Input audio</th>
        <th>Ground truth target</th>
        <th>AutoVC output</th>
        <th>StarGAN-ZSVC output</th>
    </tr>

    <tr>
        <td><p style="font-family: monospace;"> VCC2SF1-VCC2TF1 (10025.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10025-VCC2SF1-VCC2TF1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10025-VCC2SF1-VCC2TF1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10025-VCC2SF1-VCC2TF1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/seen-to-unseen/10025-VCC2SF1-VCC2TF1-output.wav" /></td>
    </tr>
    <tr>
        <td><p style="font-family: monospace;"> VCC2SM2-VCC2TM1 (10036.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10036-VCC2SM2-VCC2TM1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10036-VCC2SM2-VCC2TM1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10036-VCC2SM2-VCC2TM1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/seen-to-unseen/10036-VCC2SM2-VCC2TM1-output.wav" /></td>
    </tr>
    <tr>
        <td><p style="font-family: monospace;"> VCC2SM1-VCC2TF1 (10050.wav) </p></td>
        <td><audio controls src="/assets/audio/autovc/seen-to-unseen/10050-VCC2SM1-VCC2TF1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10050-VCC2SM1-VCC2TF1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/seen-to-unseen/10050-VCC2SM1-VCC2TF1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/seen-to-unseen/10050-VCC2SM1-VCC2TF1-output.wav" /></td>
    </tr>

</table>


