<table style="table-layout: auto; width: 100%;">
    <tr>
        <th>Source-target speaker</th>
        <th>Input audio</th>
        <th>Ground truth target</th>
        <th>AutoVC output</th>
        <th>StarGAN-ZSVC output</th>
    </tr>

    <tr>
        <td><p style="font-family: monospace;"> VCC2TM2-VCC2TF1 (10001.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10001-VCC2TM2-VCC2TF1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10001-VCC2TM2-VCC2TF1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10001-VCC2TM2-VCC2TF1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/unseen-to-unseen/10001-VCC2TM2-VCC2TF1-output.wav" /></td>
    </tr>
    <tr>
        <td><p style="font-family: monospace;"> VCC2TF2-VCC2TM1 (10020.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10020-VCC2TF2-VCC2TM1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10020-VCC2TF2-VCC2TM1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10020-VCC2TF2-VCC2TM1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/unseen-to-unseen/10020-VCC2TF2-VCC2TM1-output.wav" /></td>
    </tr>
    <tr>
        <td><p style="font-family: monospace;"> VCC2TF2-VCC2TF1 (10062.wav) </p></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10062-VCC2TF2-VCC2TF1-input.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10062-VCC2TF2-VCC2TF1-target.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/autovc/unseen-to-unseen/10062-VCC2TF2-VCC2TF1-output.wav" /></td>
        <td><audio controls src="/sacair2020/assets/audio/stargan-zsvc/unseen-to-unseen/10062-VCC2TF2-VCC2TF1-output.wav" /></td>
    </tr>

</table>


